.cardDetails {
    height: 100%;
    display: flex;
    flex-direction: column;

}

.textTitle{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px;
    color: var(--card-title-color);

}

.cardDetails p {
    color: var(--card-description-color);
    margin: 10px;

}
