@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.cardComponent {
    font-family: "Roboto", sans-serif;
    width: 200px;
    height: 300px;
    border-radius: 20px;
    background: var(--card-background-color);
    position: relative;
    padding: 20px;
    border: 1px solid var(--card-outline-color);
    transition: 0.5s ease-out;
    overflow: visible;
    margin: 20px;

}

/* .cardButton {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.cardComponent:hover {
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.cardComponent:hover .cardButton {
    transform: translate(-50%, 50%);
    opacity: 1;
} */
