.checkbox{
    width: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--sidebar-font-color);
}

.checkbox > label {
    display: flex;
    cursor: pointer;
    
}

.checkbox input {
    cursor: pointer;
}
